{% extends "base.html" %}


{% block head %}
<title>home page</title>

<style type="text/css">
body {
}
</style>

{% endblock %}


{% block body %}
<form action="/" method="POST">
	total epochs: <input type="text" name="total_epochs" id="content" value="300"><br>
	input dimension: <input type="text" name="input_dim" id="content" value="4"><br>
	window size: <input type="text" name="window_size" id="content" value="49"><br>
	predict days: <input type="text" name="predict_days" id="content" value="20"><br>
	data frequency: <input type="text" name="data_frequency" id="content" value="5"><br>
    <input type="submit" value="submit">
</form>

{% endblock %}
